
.parallax-1{

    background-image: url("/my-portofolio/assets/images/pem.jpg");

    min-height: 500px; 


    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
}
.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}

.html {width: 80%; background-color: #4CAF50;}
.word {width: 85%; background-color: #2196F3;}
.js {width: 93%; background-color: #f44336;}
.php {width: 87%; background-color: #808080;}

#about{
  padding-top: 80px;
  padding-bottom: 80px;
}

#follow{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
}
.parallax-2 {
    /* The image used */
    background-image: url("/my-portofolio/assets/images/pem2.jpg");

    /* Set a specific height */
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#service{
  background-color: #F2F2F2;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
#works{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.filter-button
{
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #42B32F;
  margin-bottom: 30px;

}
.filter-button:hover
{
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
  background-color: #42B32F;
  color: white;
}

#download-section{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
}
.parallax-3 {
    /* The image used */
    background-image: url("/my-portofolio/assets/images/background3.jpg");

    /* Set a specific height */
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#blogs{
  padding-top: 80px;
  padding-bottom: 80px;
}
#marketing{
  padding-top: 80px;
  padding-bottom: 80px;
}
.parallax-4 {
    /* The image used */
    background-image: url("/my-portofolio/assets/images/pkg-2.jpg");

    /* Set a specific height */
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contact{
  padding-top: 70px;
  padding-bottom: 70px;
}
.judul{
  color: #575757;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align:center;
}
#footer-section{
  text-align: center;
  color: white;
  background: #333;
  padding-bottom: 50px;
  padding-top: 50px;
}

.carousel-content {
  color:white;
  display:flex;
  align-items:center;
  width: 1140px;
  height: 46px;
}

#text-carousel {
  width: 100%;
  height: auto;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}


.typed{
  height: 220px;
  color:white;
  font-size: 36px;
  line-height: 65px;
  font-family:'Open Sans';
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
} 
.js-typed{
  margin: 0;
  margin-left: 10px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

  
.typed-cursor{
  font-family:sans-serif;
    opacity: 1;
  margin-left:2px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

